{#
/**
 * @file lightbox.html.twig
 * Default theme implementation to present Lightbox data.
 *
 * This template is used when viewing Lightbox pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_lightbox()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('lightbox') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
